
@*Upload single image*@

<div class="form-group">
    <div id="uploadContainer" class="col-sm-offset-2 col-xs-10">
        <input id="ImgInput" type="file" name="upload" />
    </div>
</div>

<div class="form-group" id="imgPreviewContainer" style="display: none;">
    <div class="col-sm-offset-2 col-sm-4">
        <img id="imgPreview" width="300" height="200"/>
    </div>
    <div class="col-sm-2">
        <input id="keepCurImg" style="margin-bottom: 30px;" type="button" class="btn btn-default" value="Revert image"/>
        <div id="imgDetails"></div>
    </div>
</div>

