
<style type="text/css">
    .socialMediaContainer {
        color: white;
    }

        .socialMediaContainer span {
            margin-left: 10px;
            margin-top: 10px;
        }

    .iconContainer {
        display: block;
        float: left;
        cursor: pointer;
        border: 2px solid;
        padding: 3px;
        border-color: white;
        border-radius: 3px;
        margin-right: 5px;
    }
</style>

<div class="socialMediaContainer">
    <div style="min-width: 212px;">
        <a href="http://www.twitter.com/deloittesa" class="iconContainer">
            <img src="@Url.Content("~/Content/SocialMedia/twitter128.gif")" width="35" height="35" />
        </a>
        <a href="http://www.facebook.com/DeloitteSA " class="iconContainer">
            <img src="@Url.Content("~/Content/SocialMedia/facebook128.gif")" width="35" height="35" style="padding: 0 5px 5px 0;" />
        </a>
        <a href="http://www.linkedin.com/company/2290202?trk=vsrp_companies_res_name&trkInfo=VSRPsearchId%3A3052213341438861600786%2CVSRPtargetId%3A2290202%2CVSRPcmpt%3Aprimary" class="iconContainer">
            <img src="@Url.Content("~/Content/SocialMedia/linkedin128.gif")" width="35" height="35" />
        </a>
        <a href="http://www.youtube.com/deloittesa" class="iconContainer">
            <img src="@Url.Content("~/Content/SocialMedia/youtube128.gif")" width="35" height="35" />
        </a>
    </div>
</div>
