@using AlumniPortal.Models
@using AlumniPortal.Utilities
@model List<AlumniPortal.Entities.Article>

@foreach (var article in Model)
{
    <div class="row form-group">
        <div class="col-xs-2">
            <div class="timelineTop"></div>
            <div class="dateContainer">
                <div class="articleDay">7</div>
                <div class="articleDate">JUL</div>
            </div>
            <div class="timelineBottom"></div>
        </div>

        <div class="col-xs-10">
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="articleImage" style="background: url(@Url.Content("~/Assets/Articles/" + article.Assets.First(f => f.FileType == FileType.ArticleImage).AssetName)) no-repeat center center; background-size: cover; height: 150px; width: 100%"></div>
                </div>
                <div class="col-sm-8 col-md-8">
                    <h4 class="articleTitle">@article.Title</h4>
                    <div class="articleBody">
                        @(Html.Raw(article.Body.Truncate(300) + "...") ) <a href="@Url.Action(" Article", "News" , new {id=article.ArticleID})">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}